{% extends "base.html" %}

{% block title %}Add User{% endblock %}

{% block content %}
<h1>Create a user</h1>

<form method="POST">
    <div class="mb-3">
        <label>First Name</label>
        <input type="text" name="first_name" class="form-control" placeholder="Enter a first name">
    </div>

    <div class="mb-3">
        <label>Last Name</label>
        <input type="text" name="last_name" class="form-control" placeholder="Enter a last name">
    </div>

    <div class="mb-3">
        <label>Image URL</label>
        <input type="text" name="image_url" class="form-control" placeholder="Provide an image of this user">
    </div>

    <button class="btn btn-success">Add</button>
</form>
{% endblock %}